.img{
    padding: 20px 20px 20px 20px;
}

.img img{
    border-radius: 10px;
}

.button{
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px 20px 5px 20px;
}

.button>a{
    width: 100%;
    
}

.card{
    padding: 20px;
    margin-top: 18px;
}

.bg-warning ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.bg-warning li{
    margin: 16px;
}

.bg-warning img{
    width: 140px;
    height: 50px;
    padding: 12px 0 0 20px;
}

@media (max-width: 376px){
.card{
  display: flex !important;
  justify-content: center !important;
  flex-wrap: nowrap !important;
}
}

@media (max-width: 991px),(max-width: 767px){

  .bg-warning{
order: 1 !important;
  }
  .bg-danger{
order: 3 !important;
  }

  .p-5{
    order: 2 !important;
  }

  .bg-info{
    order: 3 !important;
  }

  .bg-success{
    order: 5 !important;
  }

.bg-warning ul{
  flex-direction: column !important;
}
.card{
  display: flex !important;
  justify-content: center !important;
  flex-wrap: nowrap !important;
}
}

@media (max-width: 1180px) {
  .card{
    display: flex !important;
    justify-content: center !important;
  }
}

@media (max-width: 767px){

  .bg-warning{
order: 1 !important;
  }
  .bg-danger{
order: 2 !important;
  }

  .p-5{
    order: 3 !important;
  }

  .bg-info{
    order: 4 !important;
  }

  .bg-success{
    order: 5 !important;
  }
}